/* line 4, ../../sass/partials/home.scss */
.header {
  width: 100%;
  height: 30%;
  background-color: #313d53;
}

/* line 9, ../../sass/partials/home.scss */
.logo-primary {
  float: left;
  width: 85px;
  height: 95px;
  background: transparent url("../../dist/images/logo.png") no-repeat;
  margin: 35px 20px 20px 20px;
}

/* line 16, ../../sass/partials/home.scss */
.slide02 {
  margin-top: 30px;
  background: transparent url("../../dist/images/slide02.png") no-repeat;
}

/* line 20, ../../sass/partials/home.scss */
.title-logo {
  float: left;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 70px;
}
/* line 26, ../../sass/partials/home.scss */
.title-logo.secondary {
  margin-top: 70px;
  font-size: 1.6em;
}

/* line 33, ../../sass/partials/home.scss */
.main {
  width: 100%;
  display: block;
  margin-top: -1px;
}

/* line 39, ../../sass/partials/home.scss */
.form-instagram {
  height: 70px;
  background-color: #293043;
  position: relative;
}

/* line 46, ../../sass/partials/home.scss */
input.pattern {
  width: 280px;
  height: 40px;
  padding: 5px 40px 5px 10px;
  margin: 15px 10px 10px 35px;
  background-color: #e54d26;
  opacity: .6;
  color: #ffffff;
  font-size: 1.6em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 57, ../../sass/partials/home.scss */
input.pattern:focus {
  opacity: 1;
}
/* line 62, ../../sass/partials/home.scss */
input.submit {
  width: 32px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 15px;
  background: transparent url("../../dist/images/ico-send.png") no-repeat -2px 8px;
  color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 76, ../../sass/partials/home.scss */
.wrapper {
  width: 100%;
  min-height: 52%;
  bottom: 0;
  left: 0;
  position: absolute;
  overflow-y: hidden;
}
/* line 84, ../../sass/partials/home.scss */
.wrapper.loading::after {
  content: '';
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
  width: 150px;
  height: 150px;
  position: absolute;
  background: transparent url("../../dist/images/ico-loading.png") no-repeat;
  background-size: 150px 150px;
  -webkit-animation: loading 2s infinite alternate;
  -moz-animation: loading 2s infinite alternate;
  -ms-animation: loading 2s infinite alternate;
  -o-animation: loading 2s infinite alternate;
  animation: loading 2s infinite alternate;
}
/* line 99, ../../sass/partials/home.scss */
.wrapper.error::after {
  content: '';
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
  width: 150px;
  height: 150px;
  position: absolute;
  background-size: 150px 150px;
  background: transparent url("../../dist/images/ico-error.png") no-repeat;
}

@-webkit-keyframes loading {
  /* line 116, ../../sass/partials/home.scss */
  20% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  /* line 117, ../../sass/partials/home.scss */
  40% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 118, ../../sass/partials/home.scss */
  60% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  /* line 119, ../../sass/partials/home.scss */
  80% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }

  /* line 120, ../../sass/partials/home.scss */
  100% {
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
  }
}

@-moz-keyframes loading {
  /* line 123, ../../sass/partials/home.scss */
  20% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  /* line 124, ../../sass/partials/home.scss */
  40% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 125, ../../sass/partials/home.scss */
  60% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  /* line 126, ../../sass/partials/home.scss */
  80% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }

  /* line 127, ../../sass/partials/home.scss */
  100% {
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
  }
}

@-ms-keyframes loading {
  /* line 130, ../../sass/partials/home.scss */
  20% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  /* line 131, ../../sass/partials/home.scss */
  40% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 132, ../../sass/partials/home.scss */
  60% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  /* line 133, ../../sass/partials/home.scss */
  80% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }

  /* line 134, ../../sass/partials/home.scss */
  100% {
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
  }
}

@-o-keyframes loading {
  /* line 137, ../../sass/partials/home.scss */
  20% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  /* line 138, ../../sass/partials/home.scss */
  40% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 139, ../../sass/partials/home.scss */
  60% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  /* line 140, ../../sass/partials/home.scss */
  80% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }

  /* line 141, ../../sass/partials/home.scss */
  100% {
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
  }
}

@keyframes loading {
  /* line 144, ../../sass/partials/home.scss */
  20% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  /* line 145, ../../sass/partials/home.scss */
  40% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 146, ../../sass/partials/home.scss */
  60% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  /* line 147, ../../sass/partials/home.scss */
  80% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }

  /* line 148, ../../sass/partials/home.scss */
  100% {
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
  }
}

/* line 152, ../../sass/partials/home.scss */
.list-instagram {
  width: 6560px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
/* line 157, ../../sass/partials/home.scss */
.list-instagram figure {
  display: inline-block;
  border: 1px solid #e54d26;
  margin: 10px;
}

/* line 166, ../../sass/partials/home.scss */
.slide {
  width: 100%;
  min-height: 158px;
  height: 25%;
}
