/* line 42, sprite/*.png */
.sprite-sprite, .sprite-og-facebook {
  background: url('../images/sprite-s458ac3ad02.png') no-repeat;
}

/* line 60, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-og-facebook {
  background-position: 0 0;
  height: 223px;
  width: 200px;
}
