@font-face {
    font-family: 'source-light';
    src: url('../../fonts/light/sourcesanspro-light-webfont.eot');
    src: url('../../fonts/light/sourcesanspro-light-webfont.eot') format('embedded-opentype'),
         url('../../fonts/light/sourcesanspro-light-webfont.woff') format('woff'),
         url('../../fonts/light/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../../fonts/light/sourcesanspro-light-webfont.svg#source-light') format('svg');
}